@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: rgb(28, 55, 135);
  --secondary-color: rgb(234, 142, 72);
  --third-color: rgb(255, 255, 255);
  --forth-color: rgb(216, 216, 214);
  --fifth-color: rgb(232, 63, 60);
  --main-font: Poppins;
  --secondary-font: Playfair;
  --b-radius: 14px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font), sans-serif;
}



img {
  width: 130px;
  height: 130px;
}
.icon-move-left{
    color: brown;
}


.sign_button button{
    border: none;
    padding: 5px;
    font-size: 18px;
    color: var(--third-color);
    background-color: var(--fifth-color);
    transition: .5s ease-in-out;
    cursor: pointer;
}
.sign_button button:hover{
    background-color: rgba(232, 63, 60, 0.747);
}
.sign_button {
  border-bottom: 1px solid rgb(146, 146, 146);
}
.reg_button button{
    border: 1px solid var(--fifth-color);
    padding: 5px;
    font-size: 18px;
    background-color: var(--third-color);
    transition: .4s ease-in;
    cursor: pointer;
}
.reg_button button a {
    text-decoration: none;
    color: var(--fifth-color);
}
.reg_button p{
    text-align: center;
}
.reg_button button:hover{
    background-color: var(--fifth-color);
}.reg_button button:hover a{
    color: var(--third-color);
}
