@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --primary-color: rgb(28, 55, 135);
  --secondary-color: rgb(234, 142, 72);
  --third-color: rgb(255, 255, 255);
  --forth-color: rgb(216, 216, 214);
  --fifth-color: rgb(232, 63, 60);
  --main-font: "Poppins";
  --secondary-font: "Playfair Display";
  --third-font: "Bebas Neue";
  --b-radius: 24px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font), sans-serif;
}
.intro_image{
    width: 100%;
    height: 420px;
    background-color:grey ;
}
.kit_container{
    padding: 30px;
}
.kit_wrapper{
    display: flex;
    gap: 1.6rem;
    overflow-x: auto;
}
.kit_wrapper::-webkit-scrollbar{
    display: none;
}
.kit_card{
    flex: 0 0 380px;
    height: 480px; 
    background-color: var(--secondary-color);
}