@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --primary-color: rgb(28, 55, 135);
  --secondary-color: rgb(234, 142, 72);
  --third-color: rgb(255, 255, 255);
  --forth-color: rgb(216, 216, 214);
  --fifth-color: rgb(232, 63, 60);
  --main-font: "Poppins";
  --secondary-font: "Playfair Display";
  --third-font: "Bebas Neue";
  --b-radius: 24px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font), sans-serif;
}

/* 2. INTRO Section  */

.player_header {
  background-color: var(--forth-color);
}
.player_header--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 44px;
}
.player_header--content h2 {
  font-family: var(--secondary-font);
}
.player_header--main h2 {
  font-size: 64px;
}
.main_sponser {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.main_sponser img {
  width: 48px;
}
.players_category {
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.325);
}
.category_wrapper {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  padding: 0 44px;
}
.mens_team,
.u21_team {
  padding: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}
.mens_team:hover::after,
.u21_team:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-color: black;
}
.goalkeepers h4,
.defenders h4,
.midfielders h4,
.forwards h4{
  font-family: var(--secondary-font);
  font-size: 40px;
}
.goalkeepers,
.defenders ,
.midfielders ,
.forwards {
  padding: 40px;
}
.midfielders_wrapper,
.goalkeepers_wrapper,
.defenders_wrapper,
.forwards_wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 10px;
}

.players{
  position: relative;
  width: 100%;
  height: 565px;
  background-color: chocolate;
  border-radius: 12px;
  padding: 10px;
}
.player_number,
.player_nation,
.player_name{
  position: absolute;
}
.player_number{
  top: 10px;
  left: 10px;
}
.player_number h2{
  font-size: 52px;
}
.player_nation{
  width: 55px;
  height: 55px;
  top: 18%;
  right: 10px;
}
.player_nation img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.player_name{
  bottom: 30px;
  width: 90%;
}
.player_name h4{
  text-align: center;
}
.scroll_buttons{
  display: none;
}
@media (max-width: 1487px) {
  .goalkeepers,
.defenders ,
.midfielders ,
.forwards {
  padding: 40px;
}
.midfielders_wrapper,
.goalkeepers_wrapper,
.defenders_wrapper,
.forwards_wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 10px;
}
.players{
  position: relative;
  width: 100%;
  height: 565px;
  background-color: chocolate;
  border-radius: 12px;
  padding: 10px;
}
@media (max-width: 1250px) {
  .goalkeepers,
.defenders ,
.midfielders ,
.forwards {
  padding: 40px;
}
.midfielders_wrapper,
.goalkeepers_wrapper,
.defenders_wrapper,
.forwards_wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 10px;
}
.players{
  position: relative;
  width: 100%;
  height: 465px;
  background-color: chocolate;
  border-radius: 12px;
  padding: 10px;
}
}}

@media (max-width: 1150px) {
  .goalkeepers,
.defenders ,
.midfielders ,
.forwards {
  position: relative;
  padding: 40px;
}
.midfielders_wrapper,
.goalkeepers_wrapper,
.defenders_wrapper,
.forwards_wrapper{
  display: flex;
  gap: 2rem;
  padding: 10px;

}
.midfielders_wrapper,
.defenders_wrapper,
.forwards_wrapper{
  width: auto;
  overflow-x: auto;
}
.midfielders_wrapper::-webkit-scrollbar,
.defenders_wrapper::-webkit-scrollbar,
.forwards_wrapper::-webkit-scrollbar{
  display: none;
}
.players{
  flex: 0 0 280px;
  position: relative;
  height: 320px;
  background-color: chocolate;
  border-radius: 12px;
  padding: 10px;
}
.goalkeepers_header,
.defenders_header,
.midfielders_header,
.forwards_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.scroll_buttons{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.squad_slide-btn__left,
.squad_slide-btn__right {
    width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.squad_slide-btn__left span,
.squad_slide-btn__right span {
  font-size: 28px;
}

}

@media (max-width: 785px) {

}

@media (max-width: 412px) {

}

@media (max-width: 360px) {

}