@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
  --primary-color: rgb(28, 55, 135);
  --secondary-color: rgb(234, 142, 72);
  --third-color: rgb(255, 255, 255);
  --forth-color: rgb(216, 216, 214);
  --fifth-color: rgb(232, 63, 60);
  --main-font: "Poppins";
  --secondary-font:  "Playfair Display";
  --third-font: "Bebas Neue";
  --b-radius: 12px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font), sans-serif;
}
/* body{
  background-image: url(../images/Bandari-FC-Backg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */
nav {
  position: sticky;
  top: 0;
}
.navbar_container {
  height: 12vh;
  background-color: var(--primary-color);
  /* position: sticky; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_logo img {
  height: 92px;
  height: 92px;
}
.navbar_inputs {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_inputs-container {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.navbar_input {
  padding: 8px 12px;
  transition: 0.2s ease-in-out;
}
.navbar_input a {
  text-decoration: none;
  color: var(--secondary-color);
}
.navbar_input a p {
  font-size: 20px;
  font-weight: 600;
}
.navbar_input:hover {
  border-bottom: 2.5px solid var(--fifth-color);
}
.navbar_sign {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}
.navbar_sign-dropdown {
  position: absolute;
  display: none;
  top: 45px;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 4px;
}
.active {
  display: block;
}
.navbar_sign-icon button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
}
.navbar_sign-dropdown-sign {
  border-bottom: 1px solid black;
}
.navbar_sign-dropdown-sign,
.navbar_sign-dropdown-reg {
  padding: 6px;
  transition: 0.6s ease-in-out;
}
.navbar_sign-dropdown-sign:hover,
.navbar_sign-dropdown-reg:hover {
  background-color: var(--primary-color);
  border-radius: 6px;
}
.navbar_sign-dropdown-sign:hover a p,
.navbar_sign-dropdown-reg:hover a p {
  color: var(--secondary-color);
}
.navbar_sign-dropdown a {
  text-decoration: none;
  color: var(--secondary-color);
}
.navbar_sign-dropdown a p {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}
.navbar_menu-icon {
  display: none;
}
/* We use svg instead of i since it often replaces <i> elements with <svg>*/
svg[data-lucide="user-round"],
svg[data-lucide="menu"] {
  color: var(--secondary-color);
}
svg.lucide {
  width: 42px;
  height: 42px;
  cursor: pointer;
}
/* Sidebar for small devices */
.sidebar {
  width: 280px;
  height: 100vh;
  padding: 0 0 0 12px;
  right: 0;
  background-color: var(--secondary-color);
  position: fixed;
  display: none;
  flex-direction: column;
  z-index: 999;
  grid-area: 0.7rem;
}
.sidebar .navbar_inputs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.sidebar .navbar_inputs .navbar_inputs-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.8rem;
}
.sidebar .navbar_inputs .navbar_inputs-container .navbar_input {
  width: 100%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.sidebar .navbar_inputs .navbar_inputs-container .navbar_input:hover {
  background-color: var(--fifth-color);
  border: none;
}
.sidebar .navbar_inputs .navbar_inputs-container a p {
  color: var(--primary-color);
}
.sidebar svg[data-lucide="user-round"] {
  color: var(--primary-color);
}
.sidebar .navbar_sign-icon button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
}
.sidebar .navbar_sign-dropdown {
  background-color: var(--primary-color);
}
.sidebar .navbar_sign-dropdown .navbar_sign-dropdown-sign p,
.sidebar .navbar_sign-dropdown .navbar_sign-dropdown-reg p {
  color: var(--secondary-color);
}
.sidebar .navbar_sign-dropdown .navbar_sign-dropdown-sign:hover,
.sidebar .navbar_sign-dropdown .navbar_sign-dropdown-reg:hover {
  background-color: var(--secondary-color);
  border-radius: 6px;
}
.sidebar .navbar_sign-dropdown .navbar_sign-dropdown-sign:hover p,
.sidebar .navbar_sign-dropdown .navbar_sign-dropdown-reg:hover p {
  color: var(--primary-color);
}
.close {
  width: 100%;
}

/* 2. HERO SECTION */

/* .hero_container{
  background-image: url(../images/Bandari-FC-Backg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;
} */
.hero_wrapper {
  background-image: url(../images/Bandari-FC-Backg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;
}
.hero_wrapper {
  width: 100%;
  padding: 70px;
}
.hero_content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 220px;
  gap: 1.5rem;
}
.hero_content h1 {
  width: 230px;
  padding: 12px;
  background-color: rgba(232, 63, 60, 0.6);
  color: var(--third-color);
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 18px;
}
.hero_content h2 {
  font-family: var(--third-font);
  color: var(--third-color);
  font-size: 78px;
}
.hero_buttons button {
  margin: 12px;
  padding: 10px 18px;
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.hero_btn1::after {
  content: "→";
  color: var(--third-color);
}
.hero_btn2::after {
  content: "→";
  color: var(--secondary-color);
}
.hero_btn1 {
  background-color: black;
  color: var(--secondary-color);
  border: none;
  transition: 0.6s ease-in-out;
}
.hero_btn2 {
  border: 2px solid var(--secondary-color);
  background-color: var(--third-color);
  color: var(--secondary-color);
  transition: 0.6s ease-in-out;
}
.hero_btn1:hover {
  background-color: var(--third-color);
}
.hero_btn2:hover {
  background-color: black;
}
#content1 {
}
#content2 {
  display: none;
}

/* 3. Next Fixture Section */
.fixture{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixture_container{
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 40px;
  background-image: url(../images/back_bandari_ill.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fixture_container img{
  width: 120px;
  width: 120px;
}
.fixture_container-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
.fixture_center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .2rem;
}
.fixture_center-bottom{
  color: var(--third-color);
}
.fixture_container-bottom h2{
  color: var(--fifth-color);
  font-family: var(--third-font);
  font-size: 38px;
}

/* Media queries for responsive  */
@media (max-width: 1250px) {
  .navbar_inputs-container {
    gap: 1.8rem;
  }
}
@media (max-width: 1150px) {
  .navbar_logo img {
    width: 88px;
    height: 88px;
  }
  .navbar_inputs-container {
    gap: 1.4rem;
  }
}
@media (max-width: 785px) {
  /* .navbar_container {
    height: 10vh;
  } */
  .navbar_logo img {
    width: 82px;
    height: 82px;
    align-items: center;
  }
  .navbar_sign,
  .navbar_inputs {
    display: none;
  }
  .sidebar .navbar_sign {
    display: flex;
  }
  .navbar_menu-icon {
    flex: 9;
    margin-right: 10px;
    display: flex;
    justify-content: end;
  }
  svg.lucide {
    width: 39px;
    height: 39px;
  }
}

@media (max-width: 412px) {
  .navbar_logo img {
    width: 78px;
    height: 78px;
    /* align-items: center; */
  }
  svg.lucide {
    width: 36px;
    height: 36px;
  }
  .sidebar {
    width: 100%;
  }
}
