@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --primary-color: rgb(28, 55, 135);
  --secondary-color: rgb(234, 142, 72);
  --third-color: rgb(255, 255, 255);
  --forth-color: rgb(216, 216, 214);
  --fifth-color: rgb(232, 63, 60);
  --main-font: "Poppins";
  --secondary-font: "Playfair Display";
  --third-font: "Bebas Neue";
  --b-radius: 24px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font), sans-serif;
}
/* body{
  background-image: url(../images/Bandari-FC-Backg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */
nav {
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar_container {
  height: 12vh;
  background-color: var(--primary-color);
  /* position: sticky; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_logo img {
  height: 92px;
  height: 92px;
}
.navbar_inputs {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_inputs-container {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.navbar_input {
  padding: 8px 12px;
  transition: 0.2s ease-in-out;
}
.navbar_input a {
  text-decoration: none;
  color: var(--secondary-color);
}
.navbar_input a p {
  font-size: 20px;
  font-weight: 600;
}
.navbar_input:hover {
  border-bottom: 2.5px solid var(--fifth-color);
}
.navbar_sign {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}
.navbar_sign-dropdown {
  position: absolute;
  display: none;
  top: 45px;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 4px;
}
.active {
  display: block;
}
.navbar_sign-icon button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
}
.navbar_sign-dropdown-sign {
  border-bottom: 1px solid black;
}
.navbar_sign-dropdown-sign,
.navbar_sign-dropdown-reg {
  padding: 6px;
  transition: 0.6s ease-in-out;
}
.navbar_sign-dropdown-sign:hover,
.navbar_sign-dropdown-reg:hover {
  background-color: var(--primary-color);
  border-radius: 6px;
}
.navbar_sign-dropdown-sign:hover a p,
.navbar_sign-dropdown-reg:hover a p {
  color: var(--secondary-color);
}
.navbar_sign-dropdown a {
  text-decoration: none;
  color: var(--secondary-color);
}
.navbar_sign-dropdown a p {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}
.navbar_menu-icon {
  display: none;
}
/* We use svg instead of i since it often replaces <i> elements with <svg>*/
svg[data-lucide="user-round"],
svg[data-lucide="menu"] {
  color: var(--secondary-color);
}
svg.lucide {
  width: 42px;
  height: 42px;
  cursor: pointer;
}
/* Sidebar for small devices */
.sidebar {
  width: 300px;
  height: 100vh;
  padding: 0 0 0 12px;
  right: 0;
  background-color: var(--secondary-color);
  position: fixed;
  display: none;
  flex-direction: column;
  z-index: 999;
  grid-area: 0.7rem;
}
.sidebar .navbar_inputs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.sidebar .navbar_inputs .navbar_inputs-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.sidebar .navbar_inputs .navbar_inputs-container .navbar_input {
  width: 100%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.sidebar .navbar_inputs .navbar_inputs-container .navbar_input:hover {
  background-color: var(--fifth-color);
  border: none;
}
.sidebar .navbar_inputs .navbar_inputs-container a p {
  color: var(--primary-color);
}
.sidebar svg[data-lucide="user-round"] {
  color: var(--primary-color);
}
.sidebar .navbar_sign-icon button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
}
.sidebar .navbar_sign-dropdown {
  background-color: var(--primary-color);
}
.sidebar .navbar_sign-dropdown .navbar_sign-dropdown-sign p,
.sidebar .navbar_sign-dropdown .navbar_sign-dropdown-reg p {
  color: var(--secondary-color);
}
.sidebar .navbar_sign-dropdown .navbar_sign-dropdown-sign:hover,
.sidebar .navbar_sign-dropdown .navbar_sign-dropdown-reg:hover {
  background-color: var(--secondary-color);
  border-radius: 6px;
}
.sidebar .navbar_sign-dropdown .navbar_sign-dropdown-sign:hover p,
.sidebar .navbar_sign-dropdown .navbar_sign-dropdown-reg:hover p {
  color: var(--primary-color);
}
.close {
  width: 100%;
}

/* 2. HERO SECTION */

/* .hero_container{
  background-image: url(../images/Bandari-FC-Backg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;
} */
.hero_wrapper {
  background-image: url(../images/Bandari-FC-Backg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;
}
.hero_wrapper {
  width: 100%;
  padding: 70px;
}
.hero_content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 220px;
  gap: 1.5rem;
}
.hero_content h1 {
  width: 230px;
  padding: 12px;
  background-color: rgba(232, 63, 60, 0.6);
  color: var(--third-color);
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 18px;
}
.hero_content h2 {
  font-family: var(--third-font);
  color: var(--third-color);
  font-size: 78px;
}
.hero_buttons button {
  margin: 12px;
  padding: 10px 18px;
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.hero_btn1::after {
  content: "→";
  color: var(--third-color);
}
.hero_btn2::after {
  content: "→";
  color: var(--secondary-color);
}
.hero_btn1 {
  background-color: black;
  color: var(--secondary-color);
  border: none;
  transition: 0.6s ease-in-out;
}
.hero_btn2 {
  border: 2px solid var(--secondary-color);
  background-color: var(--third-color);
  color: var(--secondary-color);
  transition: 0.6s ease-in-out;
}
.hero_btn1:hover {
  background-color: var(--third-color);
}
.hero_btn2:hover {
  background-color: black;
}
#content1 {
}
#content2 {
  display: none;
}

/* 3. Next Fixture Section */
.fixture {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixture_container {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 40px;
  background-image: url(../images/back_bandari_ill.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fixture_container img {
  width: 120px;
  width: 120px;
}
.fixture_container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
.fixture_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}
.fixture_center-bottom {
  color: var(--primary-color);
}
.fixture_container-bottom h2 {
  color: var(--fifth-color);
  font-family: var(--third-font);
  font-size: 38px;
}

/* 4. NEWS */
.news {
  padding: 40px 0;
}
.news_title h2 {
  font-size: 54px;
  font-family: var(--secondary-font);
}
.news_title-container::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 8px;
  background-color: var(--fifth-color);
  margin-right: 20px;
  vertical-align: middle;
}
.news_container {
  background-image: url(../images/newsbackground.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 410px);
  grid-template-rows: repeat(3, 420px);
  gap: 2rem;
  grid-template-areas:
    " a a b"
    " c d e"
    " f g g";
  padding: 54px;
  margin-top: 28px;
}
.news_wrapper {
  border-radius: 12px;
}
.news_wrapper img {
  width: 100%;
  height: 210px;
}
.news1 {
  grid-area: a;
}
.news2 {
  grid-area: b;
}
.news3 {
  grid-area: c;
}
.news4 {
  grid-area: d;
}
.news5 {
  grid-area: e;
}
.news6 {
  grid-area: f;
}
.news7 {
  grid-area: g;
}
.news1 .news_wrapper-image {
  width: 100%;
  height: 65%;
}
.news2 .news_wrapper-image {
  width: 100%;
  height: 60%;
}
.news3 .news_wrapper-image {
  width: 100%;
  height: 60%;
}
.news4 .news_wrapper-image {
  width: 100%;
  height: 60%;
}
.news5 .news_wrapper-image {
  width: 100%;
  height: 60%;
}
.news6 .news_wrapper-image {
  width: 100%;
  height: 60%;
}
.news7 .news_wrapper-image {
  width: 100%;
  height: 60%;
}
.news1 .news_wrapper-image {
  background-image: url(../images/stadium2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.news2 .news_wrapper-image {
  background-image: url(../images/newsfixture.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.news3 .news_wrapper-image {
  background-image: url(../images/BackgoroundBFC3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.news4 .news_wrapper-image {
  background-image: url(../images/Bandari-FC-og_image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.news5 .news_wrapper-image {
  background-image: url(../images/sign2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.news6 .news_wrapper-image {
  background-image: url(../images/sign1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.news7 .news_wrapper-image {
  background-image: url(../images/Bandari-FC.png);
  background-position: top;
  background-size: 100% 400px;
  background-repeat: no-repeat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.news_wrapper {
  background-color: var(--third-color);
  transition: 0.8s ease-in-out;
}
.news_wrapper:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px 2px rgba(232, 63, 60, 0.75);
}
.news_content-container {
  padding: 10px;
}
.news_content h3 {
  font-size: 20px;
  color: var(--fifth-color);
}
.news_content p {
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 500;
}
.news_btn {
  margin-top: 8px;
}
.news_btn button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
}
.news_btn button a {
  text-decoration: none;
  color: var(--third-color);
  font-family: var(--secondary-font);
  font-size: 15px;
}
.btn_news {
  cursor: pointer;
  transition: 0.6s ease-in-out;
}
.btn_news::after {
  content: "➡";
  margin-left: 5px;
  color: var(--fifth-color);
}
.btn_news:hover {
  background-color: rgba(28, 55, 135, 0.7);
}

/* 5. Fixtures */
.fixtures {
  padding: 20px 0;
}
.fixtures_title h2 {
  font-size: 54px;
  font-family: var(--secondary-font);
}
.fixtures_title-container::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 8px;
  background-color: var(--fifth-color);
  margin-right: 20px;
  vertical-align: middle;
}
.fixtures_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 40px 80px;
}
.fixtures_container-left {
  flex: 2;
  padding: 16px;
  border-radius: 12px;
  background-color: rgba(28, 55, 135, 0.875);
}
.latest_result {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
}
.latest_result-header {
  display: flex;
  justify-content: center;
  gap: 2.2rem;
}
.latest_result-header h2 {
  font-size: 18px;
  color: var(--secondary-color);
}
.latest_result-header a h2 {
  color: var(--forth-color);
}
.latest_result-header a {
  text-decoration: none;
  color: black;
}
.latest_result-header a h2::after {
  content: "➡";
  color: var(--secondary-color);
}
.latest_result-content {
  width: 100%;
}
.result_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 8px;
}
.match_competition {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.match_competition img {
  width: 60px;
  height: 60px;
}
.match_result {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_team h2,
.away_team h2 {
  font-size: 16px;
}
.result {
  margin: 4px;
  display: flex;
  gap: 0.25rem;
}
.home_result,
.away_result {
  width: 40px;
  height: 38px;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 6px;
}
.home_result h2,
.away_result h2 {
  color: var(--primary-color);
}
.latest_result-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 14px;
}
.latest_result-btn button {
  width: 80%;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
}
.latest_result-btn button a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
}
.fixtures_container-right {
  flex: 8;
  padding: 20px;
  border-radius: 14px;
  background-color: var(--forth-color);
}
.next_fixtures {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.next_match {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  padding: 16px;
  background-color: var(--third-color);
  border-radius: 12px;
}
.match_date {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.match_teams {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.match_teams-home,
.match_teams-away {
  display: flex;
}
.home_team-logo img,
.away_team-logo img {
  width: 42px;
  height: 42px;
}
.away_team-logo.afc img {
  width: 58px;
  height: 42px;
}
.away_team-logo.shabana img {
  width: 30px;
  height: 34px;
}
.home_team-name,
.away_team-name {
  display: flex;
  align-items: center;
}
.home_team-name h2,
.away_team-name h2,
.match_teams-vs {
  font-size: 16px;
}
.match_venue {
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 30px;
  color: var(--forth-color);
}
.match_venue.away {
  background-color: var(--fifth-color);
}

/* 6. Shop Section  */
.shop_section {
  margin-bottom: 42px;
}
.title-sub_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.title-sub_container h1 {
  font-size: 54px;
  font-family: var(--secondary-font);
}
.title_container h2 {
  font-size: 34px;
  font-family: var(--secondary-font);
  margin-left: 125px;
}
.shop_title-header::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 8px;
  background-color: var(--fifth-color);
  margin-right: 20px;
  vertical-align: middle;
}
.shop_page a {
  text-decoration: none;
  color: var(--primary-color);
}
.shop_page span {
  font-size: 1.5rem;
}
.shop_container {
  position: relative;
  margin-top: 38px;
  padding: 26px;
  overflow: hidden;
  margin-left: 140px;
}

.shop_wrapper {
  width: auto;
  display: flex;
  gap: 3.5rem;
  overflow-x: auto;
  padding: 40px;
}
.shop_wrapper::-webkit-scrollbar {
  display: none;
}
.shop_slide-btn__left,
.shop_slide-btn__right {
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 14px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  border: none;
}
.shop_slide-btn__left {
  left: 10px;
}

.shop_slide-btn__right {
  right: 10px;
}
.shop_slide-btn__left span,
.shop_slide-btn__right span {
  font-size: 34px;
}
.shop_slide-btn .left {
  left: 0;
}
.shop_slide-btn-right {
  right: 10px;
  bottom: 10px;
}
.cards {
  flex: 0 0 430px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
  border-radius: var(--b-radius);
  box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.35);
}

.cards_img {
  width: 100%;
  height: 75%;
  background-color: rgb(29, 20, 8);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  overflow: hidden;
}
.cards_img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  object-fit: cover;
  transition: transform 1.5s ease;
}
.cards:hover .cards_img img {
  transform: scale(1.05);
}
.cards_content {
  height: 25%;
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
}
.cards_content-header h3 {
  font-family: var(--secondary-font);
}
.cards_content-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards_content-button button {
  width: 100%;
  height: 42px;
  margin-top: 8px;
  border: none;
  border-radius: 12px;
  background-color: var(--secondary-color);
}
.cards_content-button button a {
  text-decoration: none;
  color: var(--third-color);
  font-size: 18px;
  font-weight: 600;
}

/* 7. Club Section */

.club_header-title {
  font-size: 54px;
  font-family: var(--secondary-font);
}
.club_header-title::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 8px;
  background-color: var(--fifth-color);
  margin-right: 20px;
  vertical-align: middle;
}
.club_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 48px;
}
.club_container-top {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
#btn1 {
  background-color: var(--secondary-color);
}
.club_container-top-content {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
  transition: 0.5s ease-in;
}

.club_container-top-content:hover {
  background-color: var(--secondary-color);
}
.club_container-bottom {
  width: 100%;
  height: 720px;
  display: none;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  /* justify-content: center;
  align-self: center; */
}
.club_container-bottom-left {
  width: 40%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.history_content h3,
.trophies_content h3 {
  font-family: var(--third-font);
  font-size: 24px;
  color: var(--primary-color);
}
.trophies_content {
  text-align: center;
}
.club_container-bottom-right {
  width: 60%;
}
.club_container-bottom-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#history {
  display: flex;
}

/* 8. Sponsors Section */
.sponsors_header-title {
  font-size: 54px;
  font-family: var(--secondary-font);
}
.sponsors_header-title::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 8px;
  background-color: var(--fifth-color);
  margin-right: 20px;
  vertical-align: middle;
}
.principal_sponsors-header h3,
.secondary_sponsors-header h3 {
  text-align: center;
  font-family: var(--secondary-font);
}
.sponsors_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 42px;
  padding: 20px;
  background-color: var(--secondary-color);
}
.principal_sponsors-content {
  display: flex;
  gap: 3.5rem;
  padding: 12px;
}
.secondary_sponsors-content {
  display: flex;
  gap: 2rem;
  padding: 12px;
}
.principal_sponsors-content .sponsor_content {
  width: 150px;
  height: 150px;
}
.principal_sponsors-content .sponsor_content img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.secondary_sponsors-content .sponsor_content {
  width: 280px;
  height: 150px;
}
.secondary_sponsors-content .sponsor_content img {
  width: 280px;
  height: 150px;
  object-fit: cover;
}
/* 9. Footer Section  */
footer {
  background-color: var(--primary-color);
  width: 100%;
  padding: 18px;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid var(--secondary-color);
}
.footer_logo img {
  height: 92px;
  height: 92px;
}
.footer-links,
.footer-socials {
  display: flex;
  align-items: center;
}
.footer-links {
  gap: 1rem;
}
.footer-socials {
  gap: 0.5rem;
}
.footer_link a {
  text-decoration: none;
  color: white;
}
.footer_link a:hover {
  text-decoration: underline;
}
.footer_link a p {
  font-size: 18.5px;
}
.icons {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(234, 142, 72, 0.3);
  transition: 0.2s ease-in;
}
.fa-brands {
  font-size: 24px;
  color: var(--secondary-color);
  cursor: pointer;
}
.icons:hover {
  background-color: var(--secondary-color);
}
.icons:hover .fa-brands {
  color: var(--primary-color);
}
.footer_bottom {
  text-align: center;
  margin-top: 8px;
}
.footer_bottom p {
  font-family: var(--main-font);
  color: var(--third-color);
}

/* Media queries for responsive  */

@media (max-width: 1250px) {
  /* 1. Nav bar section */
  .navbar_inputs-container {
    gap: 1.8rem;
  }
  /* 2. Hero section */
  .hero_content h1 {
    width: 215px;
    padding: 8px;
    background-color: rgba(232, 63, 60, 0.6);
    color: var(--third-color);
    border-radius: 8px;
    margin-bottom: 8.5px;
    font-size: 17px;
  }
  .hero_content h2 {
    font-family: var(--third-font);
    color: var(--third-color);
    font-size: 68px;
  }
  /* 3. Next-Fixture section */
  .fixture_container {
    width: 800px;
  }
  /* 4. News */
  .news_container {
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(3, 400px);
    gap: 1.8rem;
    grid-template-areas:
      " a a b"
      " c d e"
      " f g g";
  }
  .news_content-container {
    padding: 10px;
  }
  .news_content h3 {
    font-size: 18px;
    color: var(--fifth-color);
  }
  .news_content p {
    font-size: 16px;
    font-family: var(--secondary-font);
    font-weight: 500;
  }
  .news_btn {
    margin-top: 8px;
  }

  /*  5. Next Fixtures */
  .fixtures_title h2 {
    font-size: 48px;
    font-family: var(--secondary-font);
  }
  .fixtures_title-container::before {
    content: "";
    display: inline-block;
    width: 90px;
    height: 7px;
    background-color: var(--fifth-color);
    margin-right: 18px;
    vertical-align: middle;
  }
  .fixtures_container-left {
    padding: 14px;
  }
  .fixtures_container {
    padding: 20px;
  }
  .latest_result-header h2 {
    font-size: 14px;
    font-weight: 600;
  }
  .latest_result-header {
    gap: 0.4rem;
  }
  .match_competition img {
    width: 40px;
    height: 40px;
  }
  .result_content h3 {
    font-size: 14px;
  }
  .match_result h2 {
    font-size: 16px;
  }
  .home_result,
  .away_result {
    width: 30px;
    height: 26px;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 6px;
  }
  .fixtures_container-right {
    padding: 16px;
  }
  .match_date-date h2 {
    font-size: 18px;
  }
  .next_match {
    gap: 0.8rem;
    padding: 8px;
  }
  .home_team-name h2,
  .away_team-name h2,
  .match_teams-vs {
    font-size: 13px;
  }
  .match_venue {
    padding: 7.5px;
  }
  .match_venue h3 {
    font-size: 16px;
  }
  .home_team-logo img,
  .away_team-logo img {
    width: 35px;
    height: 35px;
  }
  .away_team-logo.afc img {
    width: 50px;
    height: 36px;
  }
  .away_team-logo.shabana img {
    width: 25px;
    height: 29px;
  }
  svg.lucide {
    width: 36px;
    height: 36px;
  }

  /* 7. Club Section */
  .history_content h3 {
    font-size: 22px;
  }
  .history_content p {
    font-size: 16px;
  }
  /*  8. Sponsors Section */
  .principal_sponsors-content .sponsor_content {
    width: 130px;
    height: 130px;
  }
  .principal_sponsors-content .sponsor_content img {
    width: 130px;
    height: 130px;
  }
  .secondary_sponsors-content .sponsor_content {
    width: 250px;
    height: 130px;
  }
  .secondary_sponsors-content .sponsor_content img {
    width: 250px;
    height: 130px;
  }

  /*  9. Footer Section */
  .footer_logo img {
    height: 85px;
    height: 85px;
  }
  .footer_link a p {
    font-size: 17px;
  }
}

@media (max-width: 1150px) {
  /* 1. Nav bar section */
  .navbar_logo img {
    width: 88px;
    height: 88px;
  }
  .navbar_inputs-container {
    gap: 1.4rem;
  }
  /* 2. Hero section */
  .hero_wrapper {
    padding: 40px;
  }
  .hero_content h1 {
    width: 200px;
    padding: 8px;
    background-color: rgba(232, 63, 60, 0.6);
    color: var(--third-color);
    border-radius: 8px;
    margin-bottom: 8.5px;
    font-size: 16px;
  }
  .hero_content h2 {
    font-family: var(--third-font);
    color: var(--third-color);
    font-size: 62px;
  }
  .hero_buttons button {
    margin: 12px;
    padding: 10px 16px;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
  }
  /* 3. Next-Fixture section */
  .fixture_container {
    width: 700px;
  }
  .fixture_container img {
    width: 100px;
    width: 100px;
  }
  .fixture_container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.2rem;
  }
  /* 4. News */
  .news_container {
    display: grid;
    grid-template-columns: repeat(2, 420px);
    grid-template-rows: repeat(4, 380px);
    gap: 1.5rem;
    grid-template-areas:
      " a a"
      " b c"
      " d e"
      " f g";
    padding: 54px;
  }
  .news_content-container {
    padding: 10px;
  }
  .news_content h3 {
    font-size: 18px;
    color: var(--fifth-color);
  }
  .news_content p {
    font-size: 16px;
    font-family: var(--secondary-font);
    font-weight: 500;
  }
  .news_btn {
    margin-top: 8px;
  }
  .news_title h2 {
    font-size: 48px;
  }
  .news_title-container::before {
    content: "";
    display: inline-block;
    width: 90px;
    height: 7px;
    background-color: var(--fifth-color);
    margin-right: 18px;
    vertical-align: middle;
  }
  /*  5. Next Fixtures */
  .fixtures_title h2 {
    font-size: 42px;
    font-family: var(--secondary-font);
  }
  .latest_result-header {
    gap: 2rem;
  }
  .fixtures_title-container::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 6.5px;
    background-color: var(--fifth-color);
    margin-right: 16px;
    vertical-align: middle;
  }
  /* 5. Next Fixtures */

  .fixtures_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
  }
  .fixtures_container-right {
    width: 90%;
  }
  /* 7. Club Section */
  .history_content h3 {
    font-size: 20px;
  }
  .history_content p {
    font-size: 16px;
  }
  .club_container-bottom-left {
    width: 50%;
  }
  .club_container-bottom-right {
    width: 50%;
  }
  /*  8. Sponsors Section */
  .sponsors_header-title {
    font-size: 42px;
    font-family: var(--secondary-font);
  }
  .sponsors_header-title::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 6.5px;
    background-color: var(--fifth-color);
    margin-right: 16px;
    vertical-align: middle;
  }
  .principal_sponsors-content .sponsor_content {
    width: 120px;
    height: 120px;
  }
  .principal_sponsors-content .sponsor_content img {
    width: 120px;
    height: 120px;
  }
  .secondary_sponsors-content .sponsor_content {
    width: 210px;
    height: 120px;
  }
  .secondary_sponsors-content .sponsor_content img {
    width: 210px;
    height: 120px;
  }

  /*  9. Footer Section */
  footer {
    padding: 14px;
  }
  .footer_top {
    padding: 6px;
  }
  .footer_logo img {
    height: 78px;
    height: 78px;
  }
  .footer_link a p {
    font-size: 15px;
  }
  .footer-links {
    gap: 0.7rem;
  }
  .footer-socials {
    gap: 0.4rem;
  }
  .icons {
    width: 42px;
    height: 42px;
  }
  .fa-brands {
    font-size: 22px;
  }
}

@media (max-width: 785px) {
  /* 1. Nav bar section */
  .navbar_container {
    height: 10vh;
  }
  .navbar_container.sidebar {
    height: 100%;
  }

  .navbar_logo img {
    width: 82px;
    height: 82px;
    align-items: center;
  }
  .navbar_sign,
  .navbar_inputs {
    display: none;
  }
  .sidebar .navbar_sign {
    display: flex;
  }
  .navbar_menu-icon {
    flex: 9;
    margin-right: 10px;
    display: flex;
    justify-content: end;
  }
  svg.lucide {
    width: 39px;
    height: 39px;
  }
  /* 2. Hero section */
  .hero_wrapper {
    padding: 30px;
  }
  .hero_content h1 {
    width: 165px;
    padding: 6px;
    background-color: rgba(232, 63, 60, 0.6);
    color: var(--third-color);
    border-radius: 8px;
    margin-bottom: 7.5px;
    font-size: 13.5px;
  }
  .hero_content h2 {
    font-family: var(--third-font);
    color: var(--third-color);
    font-size: 48px;
  }
  .hero_buttons button {
    margin: 12px;
    padding: 8px 15px;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }
  /* 3. Next-Fixture section */
  .fixture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -18px;
  }
  .fixture_container {
    width: 520px;
  }
  .fixture_container img {
    width: 85px;
    width: 85px;
  }
  .fixture_container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  /* 4. News */
  .news_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 42px;
  }
  .news_wrapper {
    height: 360px;
    width: 500px;
  }
  .news_content-container {
    padding: 8px;
  }
  .news_content h3 {
    font-size: 16px;
    color: var(--fifth-color);
  }
  .news_content p {
    font-size: 14px;
    font-family: var(--secondary-font);
    font-weight: 500;
  }
  .news_btn {
    margin-top: 8px;
  }
  .news_title h2 {
    font-size: 42px;
  }
  .news_title-container::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 7px;
    background-color: var(--fifth-color);
    margin-right: 16px;
    vertical-align: middle;
  }
  /*  5. Next Fixtures */
  .fixtures_title h2 {
    font-size: 38px;
    font-family: var(--secondary-font);
  }
  .latest_result-header {
    gap: 2rem;
  }
  .fixtures_title-container::before {
    content: "";
    display: inline-block;
    width: 75px;
    height: 6.2px;
    background-color: var(--fifth-color);
    margin-right: 15px;
    vertical-align: middle;
  }

  .fixtures_container-right {
    width: 50%;
  }
  .next_fixtures {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    margin-top: 10px;
  }
  .next_match {
    width: 95%;
  }

  /* 7. Club Section */
  .club_container {
    padding: 28px;
    position: relative;
  }
  .history_content h3 {
    font-size: 20px;
  }
  .history_content p {
    font-size: 16px;
  }
  .club_container-bottom-left {
    width: 100%;
  }
  .club_container-bottom-right {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 8px;
  }
  .club_container-bottom-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  /*  8. Sponsors Section */
  .sponsors_header-title {
    font-size: 38px;
    font-family: var(--secondary-font);
  }
  .sponsors_header-title::before {
    content: "";
    display: inline-block;
    width: 75px;
    height: 6.2px;
    background-color: var(--fifth-color);
    margin-right: 15px;
    vertical-align: middle;
  }
  .secondary_sponsors-content {
    display: grid;
    grid-template-columns: repeat(2, 210px);
    grid-template-rows: repeat(2, 130px);
    gap: 0.3rem;
  }

  /*  9. Footer Section */
  footer {
    padding: 12px;
  }
  .footer_top {
    padding: 8px;
    flex-direction: column;
    gap: 0.8rem;
  }
  .footer_logo img {
    height: 72px;
    height: 72px;
  }
  .footer_link a p {
    font-size: 16px;
  }
  .footer-links {
    gap: 0.8rem;
  }
  .footer-socials {
    gap: 0.5rem;
  }
  .icons {
    width: 42px;
    height: 42px;
  }
  .fa-brands {
    font-size: 22px;
  }
  .footer_bottom p {
    font-size: 15px;
  }
}

@media (max-width: 412px) {
  /* 1. Nav bar section */
  .navbar_container {
    height: 10vh;
  }
  .navbar_logo img {
    width: 62px;
    height: 62px;
  }
  svg.lucide {
    width: 34px;
    height: 34px;
  }
  .sidebar {
    width: 100%;
  }
  .navbar_sign {
    margin-right: 10px;
  }
  .sidebar .navbar_inputs .navbar_inputs-container a p {
    font-size: 20px;
  }
  /* 2. Hero section */
  .hero_wrapper {
    padding: 20px;
  }
  .hero_content h1 {
    width: 155px;
    padding: 6px;
    background-color: rgba(232, 63, 60, 0.6);
    color: var(--third-color);
    border-radius: 8px;
    margin-bottom: 7.5px;
    font-size: 12px;
  }
  .hero_content h2 {
    font-family: var(--third-font);
    color: var(--third-color);
    font-size: 48px;
  }
  .hero_buttons button {
    margin: 12px;
    padding: 8px 15px;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }
  /* 3. Next-Fixture section */
  .fixture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -18px;
  }
  .fixture_container {
    width: 350px;
  }
  .fixture_container img {
    width: 70px;
    width: 70px;
  }
  .fixture_container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
  /* 4. News */
  .news_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 34px;
  }
  .news_wrapper {
    width: 350px;
    height: 380px;
  }
  .news_content-container {
    padding: 8px;
  }
  .news_content h3 {
    font-size: 16px;
    color: var(--fifth-color);
  }
  .news_content p {
    font-size: 14px;
    font-family: var(--secondary-font);
    font-weight: 500;
  }
  .news_btn {
    margin-top: 8px;
  }
  .news_title h2 {
    font-size: 34px;
  }
  /*  5. Next Fixtures */
  .fixtures_title h2 {
    font-size: 34px;
    font-family: var(--secondary-font);
  }
  .latest_result-header {
    gap: 2rem;
  }
  .fixtures_title-container::before {
    content: "";
    display: inline-block;
    width: 70px;
    height: 6px;
    background-color: var(--fifth-color);
    margin-right: 14px;
    vertical-align: middle;
  }
  .fixtures_container-right {
    width: 85%;
  }
  .next_match {
    width: 95%;
  }
  /* 6. Shop Section */
  .title-sub_container h1 {
    font-size: 34px;
    font-family: var(--secondary-font);
  }
  .title_container h2 {
    font-size: 34px;
    font-family: var(--secondary-font);
    margin-left: 125px;
  }
  .title_container h2 {
    font-size: 28px;
    font-family: var(--secondary-font);
    margin-left: 85px;
  }
  .shop_container {
    margin-top: 4px;
  }
  .shop_title-header::before {
    content: "";
    display: inline-block;
    width: 70px;
    height: 6px;
    background-color: var(--fifth-color);
    margin-right: 14px;
    vertical-align: middle;
  }
  .shop_container {
    margin-left: 0;
  }
  .shop_wrapper {
    gap: 2rem;
    padding: 20px;
  }
  .shop_slide-btn__left,
  .shop_slide-btn__right {
    display: none;
  }
  .cards {
    flex: 0 0 328px;
    height: 552px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: var(--b-radius);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.35);
  }

  /* 7. Club Section */
  .club_container {
    padding: 28px;
    position: relative;
  }
  .club_container-top {
    gap: 0.8rem;
  }
  .club_container-top-content {
    padding: 6px;
  }
  .club_container-top-content h2 {
    font-size: 20px;
  }
  .history_content h3 {
    font-size: 18px;
  }
  .history_content p {
    font-size: 14px;
  }
  .club_container-bottom {
    margin-top: 56px;
  }
  .club_container-bottom-left {
    gap: 0.4rem;
    padding: 12px;
  }

  .club_container-bottom-left {
    width: 100%;
  }
  .club_container-bottom-right {
    width: 165px;
    height: 165px;
    position: absolute;
    top: 82px;
    right: 16px;
    border-radius: 6px;
  }
  .club_container-bottom-right img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
  /*  8. Sponsors Section */
  .sponsors_header-title {
    font-size: 34px;
    font-family: var(--secondary-font);
  }
  .sponsors_header-title::before {
    content: "";
    display: inline-block;
    width: 70px;
    height: 6px;
    background-color: var(--fifth-color);
    margin-right: 14px;
    vertical-align: middle;
  }
  .principal_sponsors-content .sponsor_content {
    width: 100px;
    height: 100px;
  }
  .principal_sponsors-content .sponsor_content img {
    width: 100px;
    height: 100px;
  }
  .secondary_sponsors-content .sponsor_content {
    width: 180px;
    height: 120px;
  }
  .secondary_sponsors-content .sponsor_content img {
    width: 180px;
    height: 120px;
  }
  .secondary_sponsors-content {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(2, 120px);
    gap: 0.4rem;
  }

  /*  9. Footer Section */
  footer {
    padding: 8px;
  }
  .footer_top {
    padding: 5px;
    flex-direction: column;
    gap: 0.8rem;
  }
  .footer_logo img {
    height: 62px;
    height: 62px;
  }
  .footer_link a p {
    font-size: 14.5px;
  }
  .footer-links {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 112px);
    grid-template-rows: repeat(3, 22px);
    gap: 0.6rem;
    grid-template-areas:
      "a b"
      "c d"
      "e e";
  }
  .link1 {
    grid-area: a;
  }
  .link2 {
    grid-area: b;
  }
  .link3 {
    grid-area: c;
  }
  .link4 {
    grid-area: d;
  }
  .link5 {
    grid-area: e;
    text-align: center;
  }
  .footer-socials {
    gap: 0.5rem;
  }
  .icons {
    width: 38px;
    height: 38px;
  }
  .fa-brands {
    font-size: 20px;
  }
  .footer_bottom p {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  /* 1. Nav bar section */
  .navbar_container {
    height: 9.5vh;
  }
  .navbar_logo img {
    width: 58px;
    height: 58px;
  }
  svg.lucide {
    width: 30px;
    height: 30px;
  }
  .sidebar {
    width: 100%;
  }
  .navbar_sign {
    margin-right: 10px;
  }
  .sidebar .navbar_inputs .navbar_inputs-container a p {
    font-size: 16px;
  }
  /* 2. Hero section */
  .hero_wrapper {
    padding: 20px;
  }
  .hero_content h2 {
    font-size: 48px;
  }
  .hero_buttons button {
    margin: 12px;
    padding: 7px 13px;
    font-weight: 600;
    font-size: 14px;
  }
  /* 3. Next-Fixture section */
  .fixture_container {
    width: 330px;
  }
  .fixture_container img {
    width: 52px;
    width: 52px;
  }
  .fixture_container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
  /* 4. News */
  .news_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 34px;
  }
  .news_wrapper {
    width: 312px;
    height: 360px;
  }
  .news_content-container {
    padding: 8px;
  }
  .news_content h3 {
    font-size: 14px;
    color: var(--fifth-color);
  }
  .news_content p {
    font-size: 13px;
    font-family: var(--secondary-font);
    font-weight: 500;
  }
  .news_btn {
    margin-top: 8px;
  }
  .news_title h2 {
    font-size: 30px;
  }
  .news1 .news_wrapper-image {
    height: 60%;
  }
  /*  5. Next Fixtures */
  .fixtures_title h2 {
    font-size: 34px;
    font-family: var(--secondary-font);
  }
  .fixtures_title-container::before {
    content: "";
    display: inline-block;
    width: 70px;
    height: 6px;
    background-color: var(--fifth-color);
    margin-right: 14px;
    vertical-align: middle;
  }
  .fixtures_container-right {
    width: 95%;
  }
  .next_match {
    width: 95%;
  }
  .latest_result-header {
    gap: 2.8rem;
  }
  /* 6. Shop Section */
    .title-sub_container h1 {
    font-size: 34px;
    font-family: var(--secondary-font);
  }
  .title_container h2 {
    font-size: 34px;
    font-family: var(--secondary-font);
    margin-left: 125px;
  }
  .title_container h2 {
    font-size: 24px;
    font-family: var(--secondary-font);
    margin-left: 45px;
  }
  .shop_container {
    margin-top: 4px;
  }
  .shop_container {
    margin-left: 0;
  }
  .shop_wrapper {
    gap: 2rem;
    padding: 20px;
  }
  .shop_slide-btn__left,
  .shop_slide-btn__right {
    display: none;
  }
  .cards {
    flex: 0 0 278px;
    height: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: var(--b-radius);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.35);
  }

  /*  8. Sponsors Section */
  .sponsors_header-title {
    font-size: 34px;
    font-family: var(--secondary-font);
  }
  .sponsors_header-title::before {
    content: "";
    display: inline-block;
    width: 70px;
    height: 6px;
    background-color: var(--fifth-color);
    margin-right: 14px;
    vertical-align: middle;
  }
  .secondary_sponsors-content {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(2, 100px);
    gap: 0.4rem;
  }
  .principal_sponsors-content .sponsor_content {
    width: 100px;
    height: 100px;
  }
  .principal_sponsors-content .sponsor_content img {
    width: 100px;
    height: 100px;
  }
  .secondary_sponsors-content .sponsor_content {
    width: 140px;
    height: 100px;
  }
  .secondary_sponsors-content .sponsor_content img {
    width: 140px;
    height: 100px;
  }
  /*  9. Footer Section */
  .footer_logo img {
    height: 58px;
    height: 58px;
  }
}
.news_title-container::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 6px;
  background-color: var(--fifth-color);
  margin-right: 14px;
  vertical-align: middle;
}
